/*CONTACT FORM*/
.main-form{
    position: relative;
    margin-top: -30%;
    background: none;
    margin-left: 5%;
    grid-area: form;
    textarea{
        background: transparent;
        border: 1px solid $accent-blue;
        width: 100%;
    }
    .read-more-button{
        width: 100%;
    }
    fieldset{
        border: none;
        background-color: $secondary-bg;
        padding: 100px;
    }
}

.main-form input[type=email],
.main-form input[type=text]{
    background: transparent;
    border: none;
    border-bottom: 2px solid $accent-blue;
    margin-bottom: 40px;
}

.main-form ::placeholder{
    color: $primary-white;
}

/*COMMENT FORM*/
.comment-form{
    textarea{
        background: transparent;
        border: 2px solid $accent-blue;
        width: 100%;
        margin-bottom: 20px;
    }
    fieldset{
        border: none;
        background-color: transparent;
    }
    .find-out-button{
        width: 100%;
    }
}

.comment-form input[type=email],
.comment-form input[type=text]{
    background: transparent;
    border: none;
    border-bottom: 2px solid $accent-blue;
    margin-bottom: 40px;
}