/*MAIN STYLES*/
// $primary-font: #1E1713;
// $primary-blue: #1A315C; 
// $accent-blue: #0CADC0;
// $primary-bg: #CCEDFB;
// $footer-bg: #161515;
// $secondary-bg: #20404f; /*color not included in specs, color picked it from the sample pictures*/
// $primary-white: #FFFFFF;

html{
    font-size: 62.5%; /*10 pixels*/
}

body{
    font-family: $lato;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 2px;
}

.logo{
    font-family: $pacifico;
    font-size: 3rem;
    line-height: 24px;
    letter-spacing: 1.7px;
    color: $primary-font;
}

h1{
    font-family: $pacifico;
    font-size: 5.8rem;
    line-height: 68px;
    color: $primary-blue;
}

h2{
    font-family: $pacifico;
    font-size: 4.3rem;
    line-height: 58px;
    letter-spacing: 2.7px;
    color: $primary-blue;
}

h3{
    font-family: $pacifico;
    font-size: 4rem;
    line-height: 58px;
    letter-spacing: 2.5px;
    color: $primary-white;
}

button{
    font-family: $pacifico;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 32px;
    border: 0;
    padding: 10px 30px;
}

.read-more-button{
    font-family: $pacifico;
    background-color: $secondary-button;
    color: $primary-font;
}

.find-out-button{
    font-family: $pacifico;
    background-color: $primary-blue;
    color: $primary-white;
}

/*NAVIGATION*/

nav{
    font-family: $lato;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 29px;
    letter-spacing: 1.4px;
    color: $primary-blue;
}

ul li{
    list-style: none;

    a{
        text-decoration: none;
        color: $primary-blue;
    }
    a:hover{
        border-bottom: 2px solid $accent-blue;

    }
    .active{
        border-bottom: 2px solid $accent-blue;
    }
}