/*MAIN STYLES*/
// $primary-font: #1E1713;
// $primary-blue: #1A315C; 
// $accent-blue: #0CADC0;
// $primary-bg: #CCEDFB;
// $footer-bg: #161515;
// $secondary-bg: #20404f; /*color not included in specs, color picked it from the sample pictures*/
// $primary-white: #FFFFFF;

html{
    font-size: 62.5%; /*10 pixels*/
}

body{
    font-family: $lato;
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 2px;
    background-color: $primary-bg;
}

.wrapper{
    margin: 0 auto;
    width: 85%;
    max-width: 1600px;
    border: 3px solid pink;
}

h1{
    font-family: $pacifico;
    font-size: 5.8rem;
    line-height: 68px;
    color: $primary-blue;
    margin-left: 10%;
}

h2{
    font-family: $pacifico;
    font-size: 4.3rem;
    line-height: 58px;
    letter-spacing: 2.7px;
    color: $primary-blue;
}

h3{
    font-family: $pacifico;
    font-size: 4rem;
    line-height: 58px;
    letter-spacing: 2.5px;
    color: $primary-white;
}

button{
    font-family: $pacifico;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 32px;
    border: 0;
    padding: 10px 30px;
}

.read-more-button{
    font-family: $pacifico;
    background-color: $secondary-button;
    color: $primary-font;
}

.find-out-button{
    font-family: $pacifico;
    background-color: $primary-blue;
    color: $primary-white;
}

img{
    max-width: 100%;
    display: block; /*bye bye 👻 space*/
}

.box-border-left{
    box-shadow: -15px 15px 0px 0px #0CADC0;
    }
    
.box-border-right{
    box-shadow: 15px 15px 0px 0px #0CADC0;
}

/*MAIN CONTENT*/
main{
    background-color: $primary-bg;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a b";
    gap: 10%;
    padding: 50px 0px;
}

.main-image{
    grid-area: b;
    padding: 100px 0;
}

.main-content{
    grid-area: a;
    padding: 100px 0;
}

/*GALLERY*/
.image-gallery{
    background-color: $secondary-bg;
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

/*INFORMATION*/

.information{
    background-color: $primary-bg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d";
    gap: 10%;
    margin: 100px;
    h2{
        margin: 0;
    }
}

.information h2{
    margin-bottom: 0;
}

.upcoming-events{
    grid-area: a;
}

.community{
    grid-area: b;
}

.blog{
    grid-area: c;
}

.get-in-touch{
    grid-area: d;
}

/*ref for circle solution:
https://markheath.net/post/font-awesome-circle-background
*/
.icon-background{
    color: $accent-blue;
}

i{
    color: $primary-white;
}


/*MARKET LOCATION*/
.market-locations{
    background-color: $secondary-bg;
    padding: 100px 0;
    grid-gap: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d";
    p{
        color: $primary-white;
    }
    h3{
        margin: 0;
    }
}

.online-content{
    grid-area: b;
}

.locations-content{
    grid-area: c;
}

.left-image{
    grid-area: a;
}

.right-image{
    grid-area: d;
}


/*STYLE SECTION*/
.style{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "a"
    "b";
    text-align: center;
    h2{
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.style-content{
    grid-area: b;
    margin: 100px;
}

.banner{
    grid-area: a;
}

/*BLOG ARTICLE*/

article, aside{
    background-color: $secondary-bg;
    color: $primary-white;
    h2{
        color: $primary-white;
    }
}

.article-aside{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.


