@media (max-width: 1280px) {
    .hero,
    .blog-hero,
    .contact-hero{
        min-height: 70vh;
    }

    .grid-wrap{
        gap: 5%;
    }

    .main-form fieldset{
        padding: 50px;
    }
}

@media (max-width: 1030px){
    .hero-img{
        margin-top: -30%;
    }

    .hero{
        min-height: 60vh;
    }
    .contact-hero,
    .blog-hero{
        min-height: 40vh;
    }
    .information{
        grid-template-columns: 1fr;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }
    .market-locations img{
        margin: 0;
    }

    .comment-form input[type="text"],
    .main-form input[type="text"]{
        width: 40%;
    }

}

@media (max-width: 950px){ 
    .hero-img{
        margin-top: -40%;
    }
    .index-main{
        gap: 5%;
    }
    .market-locations{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas:
        "left-img"
        "online-content"
        "right-img"
        "locations-content";
        gap: 1%;
        padding-top: 10px;
        padding-bottom: 50px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        p{
            margin-bottom: 0;
        }
        
    }
    .online-content,
    .locations-content{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .style-content{
        margin-top: 0;
        padding-bottom: 50px;
    }

    .article-aside-comments{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
        "aside aside"
        "article article"
        "comment comment-form";
        gap: 1%;
    }

    article img{
            width: 100%;
            height: 300px;
            object-fit: cover;
    }

    .small-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "blog-post blog-img";
        margin: 0;
        gap: 5%;
        padding: 50px 20px 100px 20px;
    }

    .small-grid-post{
        grid-area: blog-post;
        h2{
            margin: 0;
            padding: 5px;
        }
        .recent{
            margin-top: 15%;
        }

    }

    .blog-aside img{
        grid-area: blog-img;
        padding: 0;
        margin: 0;
        box-shadow: 15px 15px 0px 0px #0CADC0;

    }
    
    .comment-content{
        img{
            border-radius: 50%;
        }
        p{
            font-size: 1.75rem;
        }
    }


}

  