@media (max-width: 1285px) {
  .hero h1 {
    width: 60%;
  }

  .h1-break {
    display: inline-block;
  }

  .hero,
  .blog-hero,
  .contact-hero {
    min-height: 70vh;
  }

  .hero-img {
    margin-top: -10%;
    width: 50%;
  }

  .grid-wrap {
    gap: 5%;
  }

  .main-form fieldset {
    padding: 50px;
  }
}

@media (max-width: 1030px) {
  .hero,
  .contact-hero,
  .blog-hero {
    min-height: 60vh;
  }

  .information {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  .market-locations img {
    margin: 0;
  }

  .comment-form input[type="text"],
  .main-form input[type="text"] {
    width: 40%;
  }
}

@media (max-width: 950px) {
  .hero-img {
    display: none;
  }

  .index-main {
    gap: 5%;
  }

  .market-locations {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas:
      "left-img"
      "online-content"
      "right-img"
      "locations-content";
    gap: 1%;
    padding-top: 10px;
    padding-bottom: 50px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    p {
      margin-bottom: 0;
    }
  }

  .online-content,
  .locations-content {
    text-align: center;
    padding: 20px 50px;
  }

  .article-aside-comments {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "aside aside"
      "article article"
      "comment comment-form";
    gap: 0;
    /*get rid of ghost whitespace*/
  }

  article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .small-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "blog-post blog-img";
    margin: 0;
    gap: 5%;
    padding: 50px 20px 100px 20px;
  }

  .small-grid-post {
    grid-area: blog-post;

    h2 {
      margin: 0;
      padding: 5px;
    }

    .recent {
      margin-top: 15%;
    }
  }

  .blog-aside img {
    grid-area: blog-img;
    padding: 0;
    margin: 0;
    box-shadow: 15px 15px 0px 0px #0cadc0;
  }

  .comment-content {
    img {
      border-radius: 50%;
    }

    p {
      font-size: 1.75rem;
    }
  }

  .aside-contact {
    font-size: 1.5rem;
  }
}

/*stack forms, stack gallery, stack
learn new techniques
fix white space on style
fix h1 on cover*/

/* 880 px */

@media (max-width: 885px) {
  .hero,
  .blog-hero,
  .contact-hero {
    min-height: 40vh;
  }

  .hero h1,
  .contact-hero h1,
  .blog-hero h1 {
    padding-bottom: 50px;
  }

  .main-form {
    margin-top: 5%;
  }

  .main-form input[type="email"],
  .main-form input[type="text"],
  .comment-form input[type="text"],
  .comment-form input[type="email"] {
    width: 100%;
    margin-bottom: 5%;
    padding: 1.5rem;
  }

  .main-form textarea,
  .comment-form textarea {
    margin-top: 5%;
    padding: 1.5rem;
  }

  .index-main {
    gap: 2%;
  }

  .image-flex {
    flex-direction: column;
    gap: 2%;
  }

  .image-flex img {
    align-self: center;
    width: 50%;
  }
}

/*media query to stack comment & comment box 
and contact and contact info
need to find solution for main img
testing vscode comments*/

@media (max-width: 727px) {
  .hero h1 {
    font-size: 4.5rem;
  }

  .image-flex {
    padding: 50px 100px;
    img {
      width: 100%;
    }
  }

  .index-main {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "a"
      "b";

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    padding-bottom: 50px;
  }
}

@media (max-width: 660px) {
  .blog-hero h1,
  .contact-hero h1 {
    margin-top: 15%;
  }

  nav {
    display: block;
    /* to fix logo*/
  }

  .nav-links {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  .small-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "blog-post"
      "blog-img";
    gap: 1%;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-top: 2%;
    }

    .recent {
      margin: 1%;
    }
  }

  .article-aside-comments {
    grid-template-areas:
      "aside aside"
      "article article"
      "comment comment"
      "comment-form comment-form";
  }

  .comment-form {
    margin-bottom: 25%;
  }

  .grid-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "form"
      "contact";
    gap: 1%;

    .main-form {
      margin: 0;
      padding: 30px;
    }
  }

  .aside-contact {
    font-size: 2rem;
    text-align: center;
    margin: 2% 0;
  }
}

@media (max-width: 500px) {
  h1 {
    line-height: 45px;
  }

  .blog-hero h1,
  .contact-hero h1 {
    font-size: 5rem;
  }

  .image-flex {
    padding: 40px 5px;

    img {
      width: 100%;
    }
  }

  p {
    font-size: 1.75rem;
    padding: 10px 0px;
  }

  h2,
  h3 {
    font-size: 3rem;
    line-height: 40px;
  }

  .icon-flex {
    display: block;
    text-align: center;
  }

  .information p {
    padding: 5px 0;
    text-align: center;
    margin-bottom: 50px;
  }

  .contact-info p {
    padding: 0;
  }

  .aside-contact {
    font-size: 4rem;
  }

  .main-form {
    fieldset {
      padding: 20px;
    }
  }

  .small-grid-post li {
    font-size: 1.75rem;
  }

  .article-aside-comments h4 {
    font-size: 1.3rem;
  }

  .comment-content p {
    font-size: 1.5rem;
  }
}
