 /* nav code: */
 ul.nav {
	background: $primary-blue;
	position: fixed;
	z-index: 2;
	width: 60%;
	right: -60%; 
	top: 0;
	height: 50%;
	transition: all 0.5s; /* magic to animate it */
}

ul.nav a {
	color: $primary-white;
	display: inline-block;
	font-size: 2rem;
	text-transform: uppercase;
	width: 100%;
	padding: 0 10px;
	transition: all 0.3s; /*we also transition the background colour here*/
}

ul.nav a:hover,
ul.nav a:focus {
	border-bottom: 2px solid $accent-blue;
}

/*  When the input is checked
  grab the next sibling nav with the + selector
*/
input[type="checkbox"]:checked + ul.nav {
	right: 0;  /*when the checkbox is checked, put the ul.nav back to right: 0; It was at right:-30%;*/
}

input[type="checkbox"] {
	display: none;  /*hide the input, we don't need to see it */
}

label[for="toggle"] {
	/*position the menu so that it doesn't slide off screen when we open it*/
	position: fixed;
	top: 10px;
	left: 10px;
	color: $primary-blue;
	z-index: 10;
}
