$primary-font: #1E1713;
$primary-blue: #1A315C; 
$accent-blue: #0CADC0;
$primary-bg: #CCEDFB;
$footer-bg: #161515;
$secondary-bg: #20404f; /*color not included in specs, color picked it from the sample pictures*/
$primary-white: #FFFFFF;
$secondary-button: #c6d9fa; /*color not included in specs, color picked it from sample*/

$pacifico: "Pacifico", cursive;
$lato: "Lato", sans-serif;
