$primary-font: #1e1713;
$primary-blue: #1a315c;
$accent-blue: #0cadc0;
$primary-bg: #ccedfb;
$footer-bg: #161515;
$secondary-bg: #20404f; /*color not included in specs, color picked it from the sample pictures*/
$primary-white: #ffffff;
$secondary-button: #c6d9fa; /*color not included in specs, color picked it from sample*/

$pacifico: "Pacifico", cursive;
$lato: "Lato", sans-serif;
