@charset "UTF-8";
/*color not included in specs, color picked it from the sample pictures*/
/*color not included in specs, color picked it from sample*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*MAIN STYLES*/
html {
  font-size: 62.5%;
  /*10 pixels*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 2px;
  background-color: #CCEDFB;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1600px;
  border: 3px solid pink;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5.8rem;
  line-height: 68px;
  color: #1A315C;
  margin-left: 10%;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 4.3rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 2.5px;
  color: #FFFFFF;
}

button {
  font-family: "Pacifico", cursive;
  font-size: 2.7rem;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 32px;
  border: 0;
  padding: 10px 30px;
}

.read-more-button {
  font-family: "Pacifico", cursive;
  background-color: #c6d9fa;
  color: #1E1713;
}

.find-out-button {
  font-family: "Pacifico", cursive;
  background-color: #1A315C;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  display: block;
  /*bye bye 👻 space*/
}

.box-border-left {
  -webkit-box-shadow: -15px 15px 0px 0px #0CADC0;
          box-shadow: -15px 15px 0px 0px #0CADC0;
}

.box-border-right {
  -webkit-box-shadow: 15px 15px 0px 0px #0CADC0;
          box-shadow: 15px 15px 0px 0px #0CADC0;
}

/*MAIN CONTENT*/
main {
  background-color: #CCEDFB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a a b";
  gap: 10%;
  padding: 50px 0px;
}

.main-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  padding: 100px 0;
}

.main-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  padding: 100px 0;
}

/*GALLERY*/
.image-gallery {
  background-color: #20404f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px;
}

/*INFORMATION*/
.information {
  background-color: #CCEDFB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a b" "c d";
  gap: 10%;
  margin: 100px;
}

.information h2 {
  margin: 0;
}

.information h2 {
  margin-bottom: 0;
}

.upcoming-events {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.community {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.blog {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.get-in-touch {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

/*ref for circle solution:
https://markheath.net/post/font-awesome-circle-background
*/
.icon-background {
  color: #0CADC0;
}

i {
  color: #FFFFFF;
}

/*MARKET LOCATION*/
.market-locations {
  background-color: #20404f;
  padding: 100px 0;
  grid-gap: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a b" "c d";
}

.market-locations p {
  color: #FFFFFF;
}

.market-locations h3 {
  margin: 0;
}

.online-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.locations-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.left-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.right-image {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

/*STYLE SECTION*/
.style {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a" "b";
  text-align: center;
}

.style h2 {
  margin: 0;
}

.style p {
  margin: 0;
}

.style-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin: 100px;
}

.banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

/*BLOG ARTICLE*/
article, aside {
  background-color: #20404f;
  color: #FFFFFF;
}

article h2, aside h2 {
  color: #FFFFFF;
}

.article-aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

/*NAVIGATION*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*align logo on main axis*/
  width: 100%;
}

.nav-links {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #1A315C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  /*logo a div instead of h1 because sr can read title 🐻*/
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
  padding: 20px;
}

.logo a {
  text-decoration: none;
  color: #1E1713;
}

.logo a:hover {
  color: #0CADC0;
}

ul li {
  list-style: none;
  padding: 20px;
}

ul li a {
  text-decoration: none;
  color: #1A315C;
}

ul li a:hover {
  border-bottom: 2px solid #0CADC0;
}

ul li .active {
  border-bottom: 2px solid #0CADC0;
}

/*HEADER & HERO*/
header {
  background: #FFFFFF;
}

.hero {
  background: url(/assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.hero h1 {
  width: 50%;
  /*break text into two lines*/
  border: 1px solid red;
}

.hero-img {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  width: 100%;
}

/*BLOG HEADER & HERO*/
.blog-hero {
  background: url(/assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.blog-hero h1 {
  padding-top: 150px;
}

footer {
  background: #161515;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 0px;
}

footer p {
  margin: 0;
  /*remove 👻 space*/
}

/*
    font-family: 'Pacifico', cursive;

        Header Heading (Get in.., Blog)
        Pacifico, Regular, 68px
        Line height: 64px

        Heading (Textiles for all...)
        Pacifico, Regular, 58px
        Line height: 68px

        
        headings (Learn new.., Upcoming.., Communi.., Blog.., Get in..,
        Pacifico, Regular, 43px
        Line height: 58px, Letter spacing: 2.7px


        Heading (Comments)
        Pacifico, Regular, 40px
        Letter spacing: 4.3px


        Headings ( Discover.., New loca...)
        Pacifico, Regular, 40px
        Right, Line height: 58px, Letter spacing: 2.5px


        Headings (Our missions, Recent Pos..)
        Pacifico, Regular, 35px
        Letter spacing: 2.9px

        
        Logo
        Pacifico, Regular, 30px
        Line height: 24px, Letter spacing: 1.7px


        buttons
        Pacifico, Regular, 27px
        Center, Line height: 32px, Letter spacing: 1.4px


        font-family: 'Lato', sans-serif;

        Nav (700 weight)
        Lato, Bold, 20px
        Center, Line height: 29px, Letter spacing: 1.4px

        body text
        Lato, Regular, 20px
        Line height: 28px, Letter spacing: 2px

*/
