@charset "UTF-8";
/*color not included in specs, color picked it from the sample pictures*/
/*color not included in specs, color picked it from sample*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  /*10 pixels*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 2px;
  background-color: #CCEDFB;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5.8rem;
  line-height: 68px;
  color: #1A315C;
  padding-left: 10%;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 4.3rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 2.5px;
  color: #FFFFFF;
}

button {
  font-family: "Pacifico", cursive;
  font-size: 2.7rem;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 32px;
  border: 0;
  padding: 10px 30px;
}

.read-more-button {
  font-family: "Pacifico", cursive;
  background-color: #c6d9fa;
  color: #1E1713;
  margin-top: 2%;
}

.read-more-button:hover {
  background-color: #1E1713;
  color: #c6d9fa;
}

.read-more-button:focus {
  /*for accessibility*/
  background-color: #1E1713;
  color: #c6d9fa;
  border: 2px dashed #0CADC0;
}

.find-out-button {
  font-family: "Pacifico", cursive;
  background-color: #1A315C;
  color: #FFFFFF;
  margin-top: 2%;
}

.find-out-button:hover {
  color: #1A315C;
  background-color: #FFFFFF;
}

.find-out-button:focus {
  /*for accessibility*/
  background-color: #1E1713;
  color: #c6d9fa;
  border: 2px dashed #0CADC0;
}

img {
  max-width: 100%;
  display: block;
  /*bye bye 👻 space*/
}

.box-border-left {
  -webkit-box-shadow: -15px 15px 0px 0px #0CADC0;
          box-shadow: -15px 15px 0px 0px #0CADC0;
}

.box-border-right {
  -webkit-box-shadow: 15px 15px 0px 0px #0CADC0;
          box-shadow: 15px 15px 0px 0px #0CADC0;
}

.box-border {
  -webkit-box-shadow: 0px 0px 0px 15px #0CADC0;
          box-shadow: 0px 0px 0px 15px #0CADC0;
}

/*MAIN CONTENT*/
.index-main-bg {
  background-color: #CCEDFB;
}

.index-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a a b";
  gap: 15%;
  padding-bottom: 100px;
}

.main-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

/*GALLERY*/
.image-gallery {
  background-color: #20404f;
}

.image-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0px;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

/*INFORMATION*/
.information {
  background-color: #CCEDFB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a b" "c d";
  padding: 50px 0px;
}

.information h2 {
  margin: 0;
}

.information p {
  padding: 2px 0px 0px 100px;
}

.upcoming-events {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1%;
}

.fa-stack {
  font-size: 3rem;
  /*fix default size, too big*/
}

.community {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.blog {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.get-in-touch {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

/*ref for circle solution:
https://markheath.net/post/font-awesome-circle-background
*/
.icon-background {
  color: #0CADC0;
}

i {
  color: #FFFFFF;
}

/*MARKET LOCATION*/
.market-locations-bg {
  background-color: #20404f;
}

.market-locations {
  gap: 10%;
  padding: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "left-img online-content" "locations-content right-img";
}

.market-locations p {
  color: #FFFFFF;
}

.market-locations h3 {
  margin: 0;
}

.online-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: online-content;
  padding-right: 50px;
  padding-bottom: 20px;
}

.locations-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: locations-content;
  text-align: right;
  padding-left: 50px;
  padding-bottom: 50px;
}

.left-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-img;
}

.left-image img {
  position: relative;
  z-index: 1;
  margin-top: -100px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-image {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right-img;
}

.right-image img {
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*STYLE SECTION*/
.style {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
      grid-template-areas: "a" "b";
  text-align: center;
}

.style h2 {
  margin: 0;
  padding-bottom: 20px;
}

.style p {
  margin: 0;
}

.style-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  padding: 50px 0px;
}

.banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.banner img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*BLOG ARTICLE*/
article,
aside {
  background-color: #20404f;
  color: #FFFFFF;
}

article h2,
aside h2 {
  color: #FFFFFF;
}

.article-aside-comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  /*stop container from being too long*/
      grid-template-areas: "article article aside" "article article empty" "comment comment empty" "comment-form comment-form empty";
  -webkit-column-gap: 5%;
          column-gap: 5%;
  row-gap: 1%;
}

.article-aside-comments h4 {
  color: #CCEDFB;
  margin: 0;
  margin-bottom: 5%;
}

.article-aside-comments h2 {
  margin-top: 10%;
  margin-bottom: 2%;
}

article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: article;
}

article img {
  position: relative;
  z-index: 1;
  margin-top: -10%;
}

.blog-aside {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aside;
  margin-top: 100px;
  padding: 40px 0px;
}

.blog-aside img {
  position: relative;
  z-index: 1;
  margin-top: -20%;
  padding-left: 5%;
}

.blog-aside p {
  padding: 0px 30px;
  margin: 0;
}

.blog-aside h2 {
  margin-bottom: 0;
  padding: 0px 30px;
}

.blog-aside ul {
  margin: 0;
}

.comment-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment;
}

.comment-section h2 {
  color: #1E1713;
  margin-top: 5%;
  padding-bottom: 40px;
}

.comment-section h4 {
  color: #1A315C;
  margin-bottom: 1%;
}

.comment-section p {
  margin: 0;
  text-align: left;
}

.comment-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  gap: 20px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "img-a comment-a" "img-b comment-b";
}

.comment-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: comment-a;
}

.comment-1 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-a;
}

.comment-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: comment-b;
}

.comment-2 img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-b;
}

.comment-form {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment-form;
  margin-bottom: 10%;
}

/*CONTACT SECTION*/
.grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "form form contact";
  gap: 5%;
  margin: 5% 0;
}

.aside-contact {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contact;
}

.aside-contact {
  padding: 10px;
  background: none;
  color: #1E1713;
}

.aside-contact i {
  color: #1A315C;
}

.aside-contact ul {
  padding: 0;
}

.aside-contact li {
  display: inline-block;
  padding-right: 20px;
}

.contact-list i:hover {
  color: #0CADC0;
}

.contact-info p {
  margin: 0;
}

/*NAVIGATION*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*align logo on main axis*/
  width: 100%;
}

.nav-links {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #1A315C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  /*logo a div instead of h1 because sr can read title 🐻*/
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
  padding: 20px;
}

.logo a {
  text-decoration: none;
  color: #1E1713;
}

.logo a:hover {
  color: #0CADC0;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1A315C;
}

nav ul li a:hover {
  border-bottom: 2px solid #0CADC0;
}

nav ul li a:focus {
  border-bottom: 2px solid #0CADC0;
}

nav ul li .active {
  border-bottom: 2px solid #0CADC0;
}

.mobile-navbar {
  display: none;
}

/*MAIN HEADER & HERO*/
header {
  background: #FFFFFF;
}

.hero {
  background: url(./assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.hero h1,
.blog-hero h1,
.contact-hero h1 {
  width: 100%;
}

.h1-break {
  display: block;
  /*break text into two lines*/
}

.hero-img {
  position: relative;
  z-index: 1;
  margin-top: -20%;
  max-width: 80%;
}

/*BLOG HEADER & HERO*/
.blog-hero {
  background: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.blog-hero h1 {
  margin-top: 5%;
}

/*CONTACT HEADER*/
.contact-hero {
  background: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.contact-hero h1 {
  margin-top: 5%;
}

/*CONTACT FORM*/
.main-form {
  position: relative;
  margin-top: -30%;
  background: none;
  margin-left: 5%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: form;
}

.main-form textarea {
  background: transparent;
  border: 2px solid #0CADC0;
  width: 100%;
  padding: 4rem;
  color: #FFFFFF;
  resize: none;
}

.main-form textarea:focus {
  border: 2px dashed #0CADC0;
}

.main-form .read-more-button {
  width: 100%;
}

.main-form fieldset {
  border: none;
  background-color: #20404f;
  padding: 100px;
}

.main-form ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form ::placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form input[type=email],
.main-form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0CADC0;
  margin-bottom: 40px;
  padding: 2rem;
  color: #FFFFFF;
}

.main-form input[type=email]:focus,
.main-form input[type=text]:focus {
  border-bottom: 2px dashed #0CADC0;
}

.main-form input[type=email] {
  width: 44%;
}

.main-form input[type=text] {
  width: 45%;
  margin-right: 9%;
}

/*COMMENT FORM*/
.comment-form textarea {
  background: transparent;
  border: 2px solid #0CADC0;
  width: 100%;
  margin: 2% 0;
  padding: 4rem;
  color: #1A315C;
  resize: none;
}

.comment-form textarea:focus {
  border: 2px dashed #0CADC0;
}

.comment-form fieldset {
  border: none;
  background-color: transparent;
}

.comment-form .find-out-button {
  width: 100%;
}

.comment-form ::-webkit-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form :-ms-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form ::-ms-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form ::placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form input[type=email],
.comment-form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0CADC0;
  margin: 5% 0;
  padding: 2rem;
  color: #1A315C;
}

.comment-form input[type=email]:focus,
.comment-form input[type=text]:focus {
  border-bottom: 2px dashed #0CADC0;
}

.comment-form input[type=email] {
  width: 45%;
}

.comment-form input[type=text] {
  width: 44%;
  margin-right: 9%;
}

footer {
  background: #161515;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 0px;
}

footer p {
  margin: 0;
  /*remove 👻 space*/
}

/* nav code: */
ul.nav {
  background: #1A315C;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 10%;
  position: fixed;
  z-index: 2;
  width: 60%;
  right: -60%;
  top: 5%;
  min-height: 50%;
  opacity: .9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* magic to animate it */
}

ul.nav a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 60%;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*we also transition the background colour here*/
}

ul.nav a:hover,
ul.nav a:focus {
  border-bottom: 2px solid #0CADC0;
}

/*  When the input is checked
  grab the next sibling nav with the + selector
*/
input[type="checkbox"]:checked + ul.nav {
  right: 0;
  /*when the checkbox is checked, put the ul.nav back to right: 0; It was at right:-30%;*/
}

input[type="checkbox"] {
  display: none;
  /*hide the input, we don't need to see it */
}

label[for="toggle-menu"] {
  /*position the menu so that it doesn't slide off screen when we open it*/
  position: fixed;
  top: 1%;
  left: 85%;
  color: #1A315C;
  z-index: 10;
}

.mobile-navbar i {
  font-size: 5rem;
  color: #1A315C;
  opacity: .9;
  background: white;
  border-radius: 30%;
  border: 10px solid white;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-5 17:30:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 1285px) {
  .hero h1 {
    width: 60%;
  }
  .h1-break {
    display: inline-block;
  }
  .hero,
  .blog-hero,
  .contact-hero {
    min-height: 70vh;
  }
  .hero-img {
    margin-top: -10%;
    width: 50%;
  }
  .grid-wrap {
    gap: 5%;
  }
  .main-form fieldset {
    padding: 50px;
  }
}

@media (max-width: 1030px) {
  .hero,
  .contact-hero,
  .blog-hero {
    min-height: 60vh;
  }
  .information {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c" "d";
  }
  .market-locations img {
    margin: 0;
  }
  .comment-form input[type="text"],
  .main-form input[type="text"] {
    width: 40%;
  }
}

@media (max-width: 950px) {
  .hero-img {
    display: none;
  }
  .index-main {
    gap: 5%;
  }
  .market-locations {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr;
        grid-template-rows: 4fr;
        grid-template-areas: "left-img" "online-content" "right-img" "locations-content";
    gap: 1%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .market-locations img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .market-locations p {
    margin-bottom: 0;
  }
  .online-content,
  .locations-content {
    text-align: center;
    padding: 20px 50px;
  }
  .article-aside-comments {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "aside aside" "article article" "comment comment-form";
    gap: 0;
    /*get rid of ghost whitespace*/
  }
  article img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .small-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "blog-post blog-img";
    margin: 0;
    gap: 5%;
    padding: 50px 20px 100px 20px;
  }
  .small-grid-post {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blog-post;
  }
  .small-grid-post h2 {
    margin: 0;
    padding: 5px;
  }
  .small-grid-post .recent {
    margin-top: 15%;
  }
  .blog-aside img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: blog-img;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 15px 15px 0px 0px #0CADC0;
            box-shadow: 15px 15px 0px 0px #0CADC0;
  }
  .comment-content img {
    border-radius: 50%;
  }
  .comment-content p {
    font-size: 1.75rem;
  }
  .aside-contact {
    font-size: 1.5rem;
  }
}

/*stack forms, stack gallery, stack
learn new techniques
fix white space on style
fix h1 on cover*/
/* 880 px */
@media (max-width: 885px) {
  .hero,
  .blog-hero,
  .contact-hero {
    min-height: 40vh;
  }
  .hero h1,
  .contact-hero h1,
  .blog-hero h1 {
    padding-bottom: 50px;
  }
  .main-form {
    margin-top: 5%;
  }
  .main-form input[type=email],
  .main-form input[type=text],
  .comment-form input[type=text],
  .comment-form input[type=email] {
    width: 100%;
    margin-bottom: 5%;
    padding: 1.5rem;
  }
  .main-form textarea,
  .comment-form textarea {
    margin-top: 5%;
    padding: 1.5rem;
  }
  .index-main {
    gap: 2%;
  }
  .image-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2%;
  }
  .image-flex img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/*media query to stack comment & comment box 
and contact and contact info
need to find solution for main img
testing vscode comments*/
@media (max-width: 727px) {
  .hero h1 {
    font-size: 4.5rem;
  }
  .image-flex {
    padding: 50px 100px;
    gap: 1%;
  }
  .index-main {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "a" "b";
    padding-bottom: 50px;
  }
  .index-main img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 660px) {
  .blog-hero h1,
  .contact-hero h1 {
    margin-top: 15%;
  }
  nav {
    display: block;
    /* to fix logo*/
  }
  .nav-links {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .small-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "blog-post" "blog-img";
    gap: 1%;
  }
  .small-grid img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 2%;
  }
  .small-grid .recent {
    margin: 1%;
  }
  .article-aside-comments {
        grid-template-areas: "aside aside" "article article" "comment comment" "comment-form comment-form";
  }
  .comment-form {
    margin-bottom: 25%;
  }
  .grid-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "form" "contact";
    gap: 1%;
  }
  .grid-wrap .main-form {
    margin: 0;
    padding: 30px;
  }
  .aside-contact {
    font-size: 2rem;
    text-align: center;
    margin: 2% 0;
  }
}

@media (max-width: 500px) {
  h1 {
    line-height: 45px;
  }
  .blog-hero h1,
  .contact-hero h1 {
    font-size: 5rem;
  }
  .image-flex {
    padding: 40px 5px;
  }
  p {
    font-size: 1.75rem;
    padding: 10px 0px;
  }
  h2,
  h3 {
    font-size: 3rem;
    line-height: 40px;
  }
  .icon-flex {
    display: block;
    text-align: center;
  }
  .information p {
    padding: 5px 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .contact-info p {
    padding: 0;
  }
  .aside-contact {
    font-size: 4rem;
  }
  .main-form fieldset {
    padding: 20px;
  }
  .small-grid-post li {
    font-size: 1.75rem;
  }
  .article-aside-comments h4 {
    font-size: 1.3rem;
  }
  .comment-content p {
    font-size: 1.5rem;
  }
}

/* add focus to buttons*/
/*fix dumb hero img add max width?*/
/*check header collapse on main*/
