@charset "UTF-8";
/*color not included in specs, color picked it from the sample pictures*/
/*color not included in specs, color picked it from sample*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*MAIN STYLES*/
html {
  font-size: 62.5%;
  /*10 pixels*/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 2px;
  background-color: #CCEDFB;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  border: 3px solid pink;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5.8rem;
  line-height: 68px;
  color: #1A315C;
  margin-left: 10%;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 4.3rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 2.5px;
  color: #FFFFFF;
}

button {
  font-family: "Pacifico", cursive;
  font-size: 2.7rem;
  text-align: center;
  letter-spacing: 1.4px;
  line-height: 32px;
  border: 0;
  padding: 10px 30px;
}

.read-more-button {
  font-family: "Pacifico", cursive;
  background-color: #c6d9fa;
  color: #1E1713;
  margin-top: 2%;
}

.read-more-button:hover {
  background-color: #1E1713;
  color: #c6d9fa;
}

.find-out-button {
  font-family: "Pacifico", cursive;
  background-color: #1A315C;
  color: #FFFFFF;
  margin-top: 2%;
}

.find-out-button:hover {
  color: #1A315C;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  display: block;
  /*bye bye 👻 space*/
}

.box-border-left {
  -webkit-box-shadow: -15px 15px 0px 0px #0CADC0;
          box-shadow: -15px 15px 0px 0px #0CADC0;
}

.box-border-right {
  -webkit-box-shadow: 15px 15px 0px 0px #0CADC0;
          box-shadow: 15px 15px 0px 0px #0CADC0;
}

.box-border {
  -webkit-box-shadow: 0px 0px 0px 15px #0CADC0;
          box-shadow: 0px 0px 0px 15px #0CADC0;
}

/*MAIN CONTENT*/
.index-main {
  background-color: #CCEDFB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a a b";
  gap: 200px;
  padding-bottom: 100px;
}

.main-image {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.main-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

/*GALLERY*/
.image-gallery {
  background-color: #20404f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px;
  gap: 20px;
}

/*INFORMATION*/
.information {
  background-color: #CCEDFB;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a b" "c d";
  gap: 50px;
  padding: 50px 0px;
}

.information h2 {
  margin: 0;
}

.information p {
  padding: 2px 0px 0px 100px;
}

.upcoming-events {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.fa-stack {
  font-size: 3rem;
  /*fix default size, too big*/
}

.community {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.blog {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.get-in-touch {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

/*ref for circle solution:
https://markheath.net/post/font-awesome-circle-background
*/
.icon-background {
  color: #0CADC0;
}

i {
  color: #FFFFFF;
}

/*MARKET LOCATION*/
.market-locations {
  background-color: #20404f;
  gap: 50px;
  padding: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a b" "c d";
}

.market-locations p {
  color: #FFFFFF;
}

.market-locations h3 {
  margin: 0;
}

.online-content {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.locations-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
  text-align: right;
  padding: 0;
}

.left-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.left-image img {
  position: relative;
  z-index: 1;
  margin-top: -100px;
}

.right-image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

.right-image img {
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
}

/*STYLE SECTION*/
.style {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a" "b";
  text-align: center;
}

.style h2 {
  margin: 0;
  padding-bottom: 20px;
}

.style p {
  margin: 0;
}

.style-content {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
  margin-top: 5%;
}

.banner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

/*BLOG ARTICLE*/
article, aside {
  background-color: #20404f;
  color: #FFFFFF;
}

article h2, aside h2 {
  color: #FFFFFF;
}

.article-aside-comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  /*stop container from being too long*/
      grid-template-areas: "a a b" "a a d" "c c d";
  grid-gap: 100px;
}

.article-aside-comments h4 {
  color: #CCEDFB;
  margin: 0;
  margin-bottom: 5%;
}

.article-aside-comments h2 {
  margin-top: 10%;
  margin-bottom: 2%;
}

article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

article img {
  position: relative;
  z-index: 1;
  margin-top: -10%;
}

.blog-aside {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
  margin-top: 100px;
  padding: 40px 0px;
}

.blog-aside img {
  position: relative;
  z-index: 1;
  margin-top: -20%;
  margin-left: 10%;
}

.blog-aside p {
  padding: 0px 20px;
  margin: 0;
}

.blog-aside h2 {
  margin-bottom: 0;
  padding: 0px 20px;
}

.blog-aside ul {
  margin: 0;
}

.comment-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.comment-section h2 {
  color: #1E1713;
  margin-top: 5%;
}

.comment-section h4 {
  color: #1A315C;
}

.comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin: 7% 0 20% 0;
}

.comment-1 img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.comment-2 img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.comment-2 p {
  margin: 0;
}

/*CONTACT SECTION*/
.grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "form form contact";
  gap: 50px;
  margin: 5% 0;
}

.aside-contact {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contact;
}

.aside-contact {
  padding: 50px;
  background: none;
  color: #1E1713;
}

.aside-contact i {
  color: #1A315C;
}

.aside-contact ul {
  padding: 0;
}

.aside-contact li {
  display: inline-block;
  padding-right: 20px;
}

.contact-list i:hover {
  color: #0CADC0;
}

.contact-info p {
  margin: 0;
}

/*NAVIGATION*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*align logo on main axis*/
  width: 100%;
}

.nav-links {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #1A315C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  /*logo a div instead of h1 because sr can read title 🐻*/
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
  padding: 20px;
}

.logo a {
  text-decoration: none;
  color: #1E1713;
}

.logo a:hover {
  color: #0CADC0;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1A315C;
}

nav ul li a:hover {
  border-bottom: 2px solid #0CADC0;
}

nav ul li .active {
  border-bottom: 2px solid #0CADC0;
}

/*MAIN HEADER & HERO*/
header {
  background: #FFFFFF;
}

.hero {
  background: url(../assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.hero h1 {
  width: 50%;
  /*break text into two lines*/
}

.hero-img {
  position: relative;
  z-index: 1;
  margin-top: -20%;
}

/*BLOG HEADER & HERO*/
.blog-hero {
  background: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.blog-hero h1 {
  margin-top: 5%;
}

/*CONTACT HEADER*/
.contact-hero {
  background: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.contact-hero h1 {
  margin-top: 5%;
}

/*CONTACT FORM*/
.main-form {
  position: relative;
  margin-top: -30%;
  background: none;
  margin-left: 5%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: form;
}

.main-form textarea {
  background: transparent;
  border: 2px solid #0CADC0;
  width: 100%;
  padding: 4rem;
}

.main-form .read-more-button {
  width: 100%;
}

.main-form fieldset {
  border: none;
  background-color: #20404f;
  padding: 100px;
}

.main-form input[type=email],
.main-form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0CADC0;
  margin-bottom: 40px;
  padding: 2rem;
}

.main-form ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form ::placeholder {
  color: #FFFFFF;
  opacity: .9;
}

.main-form input[type=email] {
  width: 45%;
}

.main-form input[type=text] {
  width: 45%;
  margin-right: 9%;
}

/*COMMENT FORM*/
.comment-form textarea {
  background: transparent;
  border: 2px solid #0CADC0;
  width: 100%;
  margin: 2% 0;
  padding: 4rem;
}

.comment-form fieldset {
  border: none;
  background-color: transparent;
}

.comment-form .find-out-button {
  width: 100%;
}

.comment-form ::-webkit-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form :-ms-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form ::-ms-input-placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form ::placeholder {
  color: #1A315C;
  opacity: 1;
}

.comment-form input[type=email],
.comment-form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #0CADC0;
  margin: 5% 0;
  padding: 2rem;
}

.comment-form input[type=email] {
  width: 45%;
}

.comment-form input[type=text] {
  width: 45%;
  margin-right: 9%;
}

footer {
  background: #161515;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 0px;
}

footer p {
  margin: 0;
  /*remove 👻 space*/
}
